body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

p {
  margin: 2px 0;
}

canvas {
  width: 100%;
  height: 100vh;
  background: black;
}

.configs {
  width: 300px;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.configs > label {
  width: 100%;
  border-bottom: 1px solid black;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
}